@using Adminstrator.Helpers;
@{
    var token = Context.Request.Cookies["admin_accessToken"];
    var email = Context.Session.GetString("UserEmail");
    var role = Context.Session.GetString("UserRole");
    var userId = Context.Session.GetString("UserId");

    if (userId == null)
    {
        var authInfo = AuthHelper.GetUserInfo(Context);
        userId = authInfo.userId;
    }

    // var adminBase = SettingsHelper.GetAdminUrl("Base");
    // var adminUser = $"{adminBase}{SettingsHelper.GetAdminUrl("UserManagement")}/{userId}";
    // var adminStore = $"{adminBase}{SettingsHelper.GetAdminUrl("StoreManagement")}/{userId}";

}

<ul class="navbar-nav">
    @if (!string.IsNullOrEmpty(token))
    {
        <li class="nav-item dropdown">
            <a class="nav-link text-dark" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Hello, @email!</a>
            <ul class="dropdown-menu" aria-labelledby="userDropdown">
                <li>
                    <a class="dropdown-item" asp-controller="Store" asp-action="Index">Quản lý cửa hàng</a>
                </li>
            </ul>
        </li>

        <li class="nav-item">
            <a href="#" class="nav-link text-dark"
               onclick="event.preventDefault(); document.getElementById('logoutForm').submit();">
                Đăng xuất
            </a>
            <form id="logoutForm" asp-controller="Authentication" asp-action="Logout" method="post" style="display:none;"></form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Authentication" asp-action="Login">Đăng nhập</a>
        </li>
        @* <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Authentication" asp-action="Register">Đăng ký</a>
        </li> *@
    }
</ul>