
@{
    var token = Context.Request.Cookies["accessToken"];
    var email = Context.Session.GetString("UserEmail"); 
} 

<ul class="navbar-nav">
    @if (!string.IsNullOrEmpty(token))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="User" asp-action="Profile">Hello, @email!</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Authentication" asp-action="Logout">Đăng xuất</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Authentication" asp-action="Login">Đăng nhập</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Authentication" asp-action="Register">Đăng ký</a>
        </li>
    }
</ul>



@* @using Microsoft.AspNetCore.Identity
@using IdentityDemo.Models
@inject SignInManager<UserModel> SignInManager
@inject UserManager<UserModel> UserManager 

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Xin chào, @User.Identity?.Name!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" method="post" id="logoutForm">
                <button type="submit" class="nav-link btn btn-link text-dark">Đăng xuất</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Đăng nhập</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Đăng ký</a>
        </li>
    }
</ul> *@
