@using Adminstrator.Models.Auths.Requests
@model ResetPasswordRequestModel
@{
    ViewData["Title"] = "Reset Password";
}

<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="card shadow-sm p-4" style="width: 400px;">
        <h4 class="text-center mb-3">Đặt lại mật khẩu</h4>

        <form asp-action="ResetPassword" method="post">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input asp-for="Email" type="email" id="email" class="form-control" placeholder="example@email.com" required />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label for="verifycode" class="form-label">Mã xác minh</label>
                <input asp-for="VerifyCode" type="text" class="form-control" placeholder="Nhập mã 6 chữ số" required />
                <span asp-validation-for="VerifyCode" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label for="newPassword" class="form-label">Mật khẩu mới</label>
                <input asp-for="NewPassword" type="password" class="form-control" placeholder="Mật khẩu mới" required />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary w-100">Xác nhận</button>

            @if (ViewBag.Error != null)
            {
                <p class="text-danger mt-2">@ViewBag.Error</p>
            }

            @if (ViewBag.Message != null)
            {
                <p class="text-success mt-2">@ViewBag.Message</p>
            }
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const error = "@(ViewBag.Error ?? "")";
            const msg = "@(ViewBag.Message ?? "")";

            const params = new URLSearchParams(window.location.search);
            const email = params.get("email");
            const emailInput = Uri.EscapeDataString(document.getElementById("email"));

            console.log("Email from query:", email);
            if (email && emailInput) {
                emailInput.value = email;
            }

            if (msg.includes("successfully")) {
                showAlert("🎉 Đặt lại mật khẩu thành công! Vui lòng đăng nhập lại.", "success")
                //alert("🎉 Đặt lại mật khẩu thành công! Vui lòng đăng nhập lại.");
                window.location.href = "/Authentication/login";
            } else if (error) {
                showAlert("⚠️ " + error, "danger")
                //alert("⚠️ " + error);
                window.location.href = "/Authentication/login";
            }
        });
    </script>
}
