@model int
@using Frontend.Helpers;

@{
    var token = Context.Request.Cookies["accessToken"];
    var isLoggedIn = !string.IsNullOrEmpty(token);

    var AuthHeader = AuthHelper.GetUserInfo(Context);
    var userId = AuthHeader.userId;
}

<ul class="navbar-nav">
    <li class="nav-item">
        <a id="cartLink"
           class="nav-link position-relative text-dark"
           href="@(isLoggedIn? Url.Action("CreateCart", "Order", new {id = userId} ) : "#")"
           data-loggedin="@(isLoggedIn.ToString().ToLower())">
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                 class="bi bi-cart" viewBox="0 0 16 16">
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1
                        .485.379L2.89 3H14.5a.5.5 0 0 1
                        .491.592l-1.5 8A.5.5 0 0 1 13
                        12H4a.5.5 0 0 1-.491-.408L2.01
                        3.607 1.61 2H.5a.5.5 0 0
                        1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5
                        12a2 2 0 1 0 0 4 2 2 0 0 0
                        0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0
                        0 0-4zm-7 1a1 1 0 1-1
                        .001-2.001A1 1 0 0 1 5 13zm7-1a1
                        1 0 1-1 .001-2.001A1 1 0 0 1 12 12z" />
            </svg>
            <span id="cartBadge"
                  class="position-absolute bottom-0 start-50 ms-n1 badge rounded-pill @(isLoggedIn ? "bg-danger" : "bg-secondary")">
                @Model
            </span>
        </a>
    </li>
</ul>

<script>
    const cartLink = document.getElementById("cartLink");
    if (cartLink) {
        cartLink.addEventListener("click", function (e) {
            const isLoggedIn = cartLink.getAttribute("data-loggedin") === "true";
            if (!isLoggedIn) {
                e.preventDefault();
                alert("⚠ Vui lòng đăng nhập để xem giỏ hàng!");
            }
        });
    }
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
